.fake
.ionide
.DS_Store
_K*.md
*.tsv
*.key
*.pdf
*.pptx
*.docx
*.xlsx
*.html
*.json
doc/*.pdf
doc/*.pptx
doc/*.docx
doc/*.xlsx
doc/*.html
doc/*.key
024/jnb
settings.json
*.o
*.hi
*.dyn_o
*.dyn_hi
*.ipynb_checkpoints
